*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    border: 3px solid;
    margin: 0 auto;
}

.container:hover{
    /*justify-content: flex-end;*/
}

.element{
    width: 200px;
    height: 200px;
    background: orangered;
    margin: 20px;
    /*clip-path: circle(50%)*/;
    /*transition: clip-path 2s,   transform 1s;*/

    clip-path: circle(80%);
    transition-property: clip-path, transform, background-color;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0,1.03,1,.18);
}

.container:hover .element{
    clip-path: circle(20%);
    transform: translate(50%);
    background: blue;
}