body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(242, 242, 242, 0.8);
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

h2 {
    text-align: center;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #000;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.contenedor::after {
    content: '';
    background-image: url('marca_de_agua.png');
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
