*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background: rgb(1, 1, 82);
    color: white;
}
.contenedor{
    font-style: italic;
    font-size: x-large;
    margin: 20px auto;
    width: 35%;
    border-radius: 35px;
    border-top-right-radius: 40px;
}
thead{
    margin: auto;
    width: 600px;
    border-top-style: ridge;}

td, th{
    color: coral;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    padding: 15px;
    border-bottom: solid rgb(126, 31, 31);
}
tr:hover td, th{
    background: orangered;
    color: aliceblue;
    text-decoration-line: overline;
    text-decoration: underline;
}
tr:hover th{
    background: crimson;
    color: aliceblue;
    text-decoration-line: overline;
}
table{
    margin-bottom: 45px;
    border-collapse: collapse;
    border-radius: 5%;
    border-style: solid;
    border-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    text-align: left;   
    cursor:grabbing;
}
td:nth-child(even){
    background: #ddd;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline black;
    margin-bottom: 10px;
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline black;
    margin-bottom: 10px;
    text-align: center;
}


.c1:hover{
    background: orangered;
}